@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body{
  background: #ff6347;
  font-family: "Nunito", sans-serif;
  font-size: lrem;
}
 main{
   max-width: 900px;
   margin: auto;
   padding: 0.5rem;
   text-align: center;
 }

 h1{
   color: blue;
   margin-bottom: 0.5rem;
 }

 nav{
   display: flex;
   justify-content: space-between;;
   align-items: center;
 }
